*.log
.htaccess
sitemap.xml
sitemap.xml.gz
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/wp-cache-config.php
wp-content/themes/fonvalmed/.sass-cache/
wp-content/themes/fonvalmed/node_modules/
wp-content/themes/fonvalmed/Gruntfile.js
wp-content/themes/fonvalmed/package.json
wp-content/themes/fonvalmed/wp-snapshots/
