table {
	margin: 0 0 1.5em;
	width: 100%;
	border: 1px solid $color__gray;
}
th{
	background-color: $color__primary;
	padding: 0.5rem;
	color: #fff;
	border: 1px solid $color__gray;
	font-weight: 100;
	text-transform: uppercase;
}
td{
	border: 1px solid $color__gray;
	padding: 0.2rem 0.5rem;
}
tr:nth-child(odd){
	background-color: lighten($color__gray, 12%);
}