table {
	margin: 0 0 1.5em;
	width: 100%;
	border: 1px solid $color__gray;
}
th{
	background-color: $color__primary;
	padding: 0.5rem;
	color: #fff;
	border: 1px solid $color__gray;
	font-weight: 100;
	text-transform: uppercase;
}
td{
	border: 1px solid $color__gray;
	padding: 0.2rem 0.5rem;
}
tr:nth-child(odd){
	background-color: lighten($color__gray, 12%);
}

/*---------- Estilos de tablepress--------------*/
.dataTables_wrapper {
	font-family: $font__main;
	.dataTables_length{
		margin-bottom: 15px;
		label{
			font-weight: 300;	
		}
	}
	.dataTables_filter{
		@extend .dataTables_length;
	}
	.dataTables_info{
		font-family: $font__main;
		font-weight: 300;
	}
	.paginate_button {
		color: $color__primary !important;
		text-decoration: none;
		&.next{
			&:after{
				color: $color__gray-dark;
				text-shadow: .1em .1em #CCC !important;
			}
		}
		&:hover{
			&.next{
				&:after{
					color: $color__primary;
				}
				&.disabled{
					&:after{
						color: $color__gray-dark !important;
					}
				}
			}
			&.previous{
				&:before{
					color: $color__primary;
				}
				&.disabled{
					&:before{
						color: $color__gray-dark !important;
					}
				}
			}
		}
		&.previous{
			&:before{
				color: $color__gray-dark;
				text-shadow: .1em .1em #CCC !important;
			}
		}
	}
}