h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-family: $font__main;
	font-weight: 100;
}
h2{
	color: $color__primary;
}
h3{
	margin-bottom: 0px;
}
.subtitulos{
	font-size: 1.7em;
    font-weight: 400;
    border-bottom: 1px solid #ccc;
    color: $color__gray-dark;
}