a.sharer-icon{
	color: $color__primary;
	font-size: 2rem;
	margin: 5px;
	display: inline-block;
	&:hover{
		text-decoration: none;
		color: darken($color__primary, 10%) !important;
	}
	&:visited, &:focus, &:active{
		color: $color__primary;
		text-decoration: none;
	}
}
.l_icon{
	margin: 0 0 15px 40px;
	padding: 0px;
	li{
		list-style: none;
		position: relative;
		display: block;
		padding: 10px 0;
		&:before{
			content: "l";
			font-family: "fonvalmed" !important;
			font-style: normal !important;
			font-weight: normal !important;
			font-variant: normal !important;
			text-transform: none !important;
			speak: none;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			display: inline-block;
			margin: 0 10px 10px 5px;
			font-size: 2rem;
			color: $color__gray-dark;
			position: absolute;
			top: 5px;
			left: -2.5rem;
		}
		a{
			color: $color__gray-dark;
			transition: all ease 0.5s;
			&:hover{
				text-decoration: none;
				color: $color__primary;
			}
		}
	}
}