.widget {
	margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}


/* Contador de obras */
.contador-obra{
	@include borde-degrade();
}
.contador-obra-titulo{
	margin: 0px;
	background: $color__gray-light;
	text-align: center;
	padding: 10px 5px;
	text-transform: uppercase;
	color: $color__primary;
	font-size: 0.9rem;
	font-weight: normal;
}
.contador-obra-numero{
	display: block;
	color: $color__primary;
	font-size: 5rem;
	text-align: center;
}

/*Sidebar de obras*/
.sidebar_block{
	margin-bottom: 30px;
}
.sidebar_block_title{
	color: $color__gray-dark;
	padding: 10px;
	margin: 0 0 20px 0;
	background: $color__gray-light;
	font-size: 1.2rem;
	border-right: solid 3px $color__primary;
	text-align: center;
	position: relative;
	&:before{
		@include triangulos($color__gray-light, 15px);

	}
}
.ctn__obra-preview_sidebar{
	display: block;
	margin-bottom: 30px;
	&:hover{
		text-decoration: none;
		.ctn__obra-preview_sidebar_image{
			background-size: 130% !important;
		}
		.obra-preview_sidebar_title{
			color: $color__primary;
		}
	}
	&:active, &:focus, &:visited{
		text-decoration: none;
	}
}
.ctn__obra-preview_sidebar_image{
	transition: all ease 1s;
	&:before{
		content: "";
		padding-top: 100%;
		display: block;
	}
}
.obra-preview_sidebar_image{
	display: none !important;
}
.obra-preview_sidebar_title{
	margin: 5px 0;
	color: $color__gray-dark;
	transition: all ease 0.5s;
	line-height: 1.5rem;
}
.obra-preview_sidebar_time{
	color: $color__gray-dark;
}

//Singup form de Mailchimp

#mc_embed_signup{
	.indicates-required{
		font-size: 0.7rem;
		color: $color__gray;
		width: 80%;
		margin: 0 auto;
	}
	input{
		width: 80%;
		margin: 0 auto 5px auto;
		display: block;
		font-size: 0.8rem;
	}
	.mc-terminos-condiciones{
		label{
			font-size: 0.8rem;
			color: $color__gray-dark;
			font-weight: 300;
			width: 80%;
			margin: 10px auto;
			display: block;
		}
		input{
			display: inline-block;
			width: auto;
		}
		a{
			display: inline-block;
			font-size: 0.8rem;
		}
	}
}