.l_inline{
	margin: 0px;
	padding: 0px;
	*{
		display: inline-block;
		margin: 0px;
		padding: 0px;
		list-style: none;
	} 
}
.top-bar{
	text-align: right;
	a{
		color: #fff;
		font-size: 0.8rem;
		padding: 5px 10px;
	}
}
.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
	margin: 15px 0 0 0;
	z-index: 1;
    position: relative;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}
.menu-toggle{
	width: 80%;
	margin: 0 auto;
	font-size: 1rem;
}

#mega-menu-wrap-primary .mega-menu-toggle {
	background: #FF7F00;
    color: #fff;
}
#mega-menu-wrap-primary .mega-menu-toggle:before {
	font-size: 35px;
	float: left;
}
#mega-menu-wrap-primary .mega-menu-toggle:after {
	display: block;
    text-align: center;
}
#mega-menu-wrap-primary .mega-menu-toggle.mega-menu-open:before {
	content: "\f158";
}
li.mega-menu-item-has-children > ul.mega-sub-menu > .mega-menu-item-has-children > .mega-sub-menu > li.mega-menu-item {
	margin-bottom: 10px !important;
	margin-left: 10px !important;
	padding-left: 5px;
}
li.mega-menu-item-has-children > ul.mega-sub-menu > .mega-menu-item-has-children > .mega-sub-menu > li.mega-current-menu-item {
	border-color: #FF7F00 !important;
}:hover{

}
li.mega-menu-item-has-children > ul.mega-sub-menu > .mega-menu-item-has-children > .mega-sub-menu > li.mega-menu-item > a {
	padding-left: 5px !important;
	border-left: 2px solid $color__gray !important;
	transition: all 0.5s ease;
}
li.mega-menu-item-has-children > ul.mega-sub-menu > .mega-menu-item-has-children > .mega-sub-menu > li.mega-menu-item > a:hover{
	border-left: 2px solid $color__primary !important;
}

/*-----------Submenu sin megamenu---------*/
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item{
	border-bottom: 1px solid #ccc;
	padding: 15px;
	background: #fff;
}

#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item a{
	color: $color__primary !important;
	background: #fff !important;
	font-size: 18px;
}

/*----------- Menú Lateral --------------*/

.menu-micro_title{
	display: none;
	span{
		display: block;
	}
	margin: 0 0 20px 0;
	background: $color__primary;
	color: #fff;
	padding: 10px 10px;
	text-align: center;
	line-height: 1.3rem;
	position: relative;
	&:before{
		@include triangulos($color__primary, 15px)
	}
}

.menu-micro-toggle {
	display: block;
	background-color: $color__gray-light;
	line-height: 40px;
	height: 40px;
	cursor: pointer;
	text-align: center;
	&:before {
		content: "\f333";
		font-family: 'dashicons';
		margin: 0 5px;
		font-size: 35px;
		float: left;
	}
}

.menu-micro-open {
	&:before {
		content: "\f158";
	}
}

.menu-micro{
	display: none;
	margin: 0;
	padding: 0;
	li{
		list-style: none;
		a{
			color: $color__gray-dark;
			display: block;
			padding: 10px 10px 10px 25px;
			border-bottom: solid 1px $color__gray-light;
			transition: all ease 0.5s;
			&:hover, &:active, &:focus{
				text-decoration: none;
				color: $color__primary;
			}
			&.menu-micro_-active{
				color: $color__primary;
				border-bottom: solid 1px $color__primary;
				position: relative;
				&:before{
					@include triangulos ($color__primary, 10px)
				}
			}
		}
	}
}

@media (min-width: 0px) and (max-width: 991px) {


    #mega-menu-primary > li {
    	background: $color__primary !important;
        margin-bottom: 2px !important;
  	}
    #mega-menu-primary > li > a {
    	color: #fff !important;
    }
    #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-flyout.mega-menu-item-has-children > a:after, #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-flyout li.mega-menu-item-has-children > a:after, #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item-has-children > a:after {
    	content: "\f132";
        font-size: 27px;
    }
    #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-flyout.mega-menu-item-has-children.mega-toggle-on > a:after, #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-flyout li.mega-menu-item-has-children.mega-toggle-on > a:after, #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item-has-children.mega-toggle-on > a:after {
		content: "\f460";
    }
    #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item {
    	float: none;
    }
    #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu > li {
    	width: 100% !important;
    }
    #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item {
		border-bottom: 1px solid #ccc;
    }
    #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu {
    	padding-bottom: 0px;
    }
}
@media screen and (min-width: 768px) {
	.menu-toggle{
		width: 50%;
	}
}

@media screen and (min-width: 992px) {
	.ctn_navigation{
		background: #F3F3F3;
		position: absolute;
		top: 110px;
		width: 100%;
		/*@include sombra-cajas();*/
	}
	.menu-toggle {
		display: none;
	}
	.main-navigation{
		width: 970px;
		margin: 0 auto;
		float: none;
		padding-left: 256px;
		ul {
			display: block;
		} 
		a{
			font-family: $font__secondary;
			text-transform: uppercase;
			color: $color__gray-dark;
			font-size: 0.7rem;
			display: table-cell;
			width: 110px;
    		text-align: center;
    		line-height: 1rem;
    		padding: 0 10px;
    		vertical-align: middle;
    		height: 50px;
    		&:hover, :focus{
    			color: #fff;
    			background: $color__primary;
    		}
		}
	}

	#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > ul.mega-sub-menu{
		@include sombra-cajas(0.3);
	}
	#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu > li ul.mega-sub-menu{
		-webkit-box-shadow: none !important;
		box-shadow: none !important;
	}
	#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item{
		padding: 15px 15px 0px 15px !important;
	}
	#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item {
		padding: 15px 15px 0px 15px !important;
		a{
			transition: all 0.5s ease;
			&:hover{
				padding-left: 5px;
			}
		}
	}
	#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item > a{
		line-height: 20px !important;
		margin-bottom: 10px !important;
	}
	#mega-menu-wrap-primary #mega-menu-primary {
		height: 50px;
	}
    #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-flyout.mega-menu-item-has-children > a:after, #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-flyout li.mega-menu-item-has-children > a:after, #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item-has-children > a:after {
    	content: "";
    }
	#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a {
		line-height: normal;
    	height: 50px;
    	display: table-cell;
    	font-size: 12px;
    	vertical-align: middle;
        text-align: center;
    	width: 115px;
	}
	/*-----------Submenu sin megamenu---------*/
	#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-flyout ul.mega-sub-menu{
		width: 220px !important;
		right: 0;
	}
	#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item{
		padding: 0px;
		border-bottom: none;
	}
	#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item a{
		font-size: 0.9rem;
		line-height: 40px;
		&:hover{
			background: $color__primary !important;
			color: #fff !important;
		}
	}
}

@media screen and (min-width: 1200px){
	.main-navigation{
		padding-left: 256px;
		width: 1170px;
		.mega-menu-wrap{
			a{
				width: 148px;
				font-size: 0.8rem;
				padding: 0 15px;
			}
		}
	}
	#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a{
		width: 145px;
	}
	.ctn_logos-alcaldia{
		a{
			margin-top: 2%;
		}
	}
	#mega-menu-wrap-primary #mega-menu-primary li.mega-menu-flyout.mega-menu-item-has-children > a:after, #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-flyout li.mega-menu-item-has-children > a:after, #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item-has-children > a:after {
    	content: "";
    }
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	& .nav-previous {
		float: left;
		width: 50%;
	}

	& .nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

/* Menú footer */
#menu-menu-footer{
	margin: 0;
	padding: 0;
	li{
		margin: 0;
		padding: 0;
		list-style: none;
	}
}

#obras-menu {
	display: inline-block;
	width: 100%;
	height: 100%;
	text-align: center;
	.obras-menu-toggle {
		display: block;
		background-color: $color__gray-light;
		line-height: 40px;
		height: 40px;
		&:before {
			content: "\f333";
			font-family: 'dashicons';
			margin: 0 5px;
			font-size: 35px;
			float: left;
		}
	}
	.obras-menu-open {
		&:before {
			content: "\f158";
		}
	}
	ul {
		display: none;
		width: 100%;
		height: 100%;
		margin: 0px;
		padding: 0px;
		border-top: 1px solid $color__gray-light;
		li {
			cursor: pointer;
			background-color: $color__gray-light;
			list-style: none;
			color: #fff;
			a {
				text-decoration: blink;
				padding: 15px;
				display: block;
				color: $color__gray-dark;
				&:hover{
					color: #fff;
				}
			}
			&:hover {
				background-color: $color__obra-menu-hover;
				color: #fff;
			}
			&.active {
				background-color: $color__primary;
				a {
					color: #fff;
				}
				&:hover {
					background-color: $color__primary;
				}
			}
		}
	}
}

@media only screen and (min-width: 992px) {
	.menu-micro_title{
		display: block;
	}
	.menu-micro-toggle {
		display: none;
	}
	.menu-micro{
		display: block !important;
	}
	#obras-menu {
		.obras-menu-toggle {
			display: none;
		}
		ul {
			display: block !important;
			padding-left: 15px;
			padding-right: 15px;
			border-top: 0px solid;
			li {
				float: left;
				margin-right: 2px;
			}
		}
	}
	.menu-menu-home-container {
		#menu-menu-home {
			li {
				width: 32.26% !important;
			}
		}
	}
}

.breadcrumbs {
	margin-bottom: 25px;
    margin-top: 10px;
	span {
		border-bottom: 1px solid $color__gray-dark;
		position: relative;
		a {
			text-decoration: blink;
			color: $color__gray-dark;
		}
	}
	> span.content-separator {
		display: inline-block;
		border-bottom: 1px solid $color__gray-dark;
		padding: 0 5px;
		bottom: 1px;
		.separator {
			display: inline-block;
			width: 2px;
			height: 12px;
			bottom: -6px;
			background: -webkit-linear-gradient(white, #898989);
			background: -o-linear-gradient(white, #898989);
			background: -moz-linear-gradient(white, #898989);
			background: linear-gradient(white, #898989);
		}
	}
	.active {
		color: $color__primary;
		border-bottom: 1px solid $color__primary;
		&:before {
			@include triangulos($color__primary, 10px);
		}
	}
}

.menu-menu-home-container {
	position: relative;
	#menu-menu-home {
		display: inline-block;
		width: 100%;
		height: 100%;
		margin: 0px;
		padding: 0px;
		list-style: none;
		li {
			position: relative;
			float: left;
			background-color: #EDEDED;
			width: 49%;
			height: 105px;
			margin: 0px;
			padding: 0px;
			margin: 2px;
			a {
				display: block;
				position: absolute;
				width: 100%;
				padding: 0px 15px 5px 15px;
				bottom: 0;
				text-align: center;
				text-decoration: blink;
				font-size: 12.5px;
				font-weight: normal;
				color: #A4A4A4;
			}
		}
	}
}