.ctn_top-bar{
	background-color: $color__primary;
}
.tob-bar{
	text-align: right;
}
.site-title{
	margin: 0px;
	a{
		text-indent: -9999px;
		display: block;
	}
}
.ctn_logos-alcaldia{
	a{
		display: block;
	}
}