.ctn_top-bar{
	background-color: $color__primary;
}
.tob-bar{
	text-align: right;
}
.site-title{
	margin: 0px;
	a{
		text-indent: -9999px;
	}
}
.ctn_logo{
}
.logo{
	margin: 0 auto;
	max-width: 100%;
	height:auto;
}
.ctn_logos-alcaldia{
	a{
		display: block;
		margin-top: 6%;
		max-height: 40px;
		text-align: right;
		img{
			max-width: 50%;
			height: auto;
		}
	}
}
/* Estilos para pantallas entre los 768 px y 992 px */
@media only screen and (min-width: 768px) {
	.site-branding{
		padding-left: 0;
	}
	.logo{
		max-height: 120px;
		margin: 0;
	}
	.ctn_logos-alcaldia{
		a{
			margin-top: 11%;
			img{
				max-width: 26%;
			}
		}
	}
	.logos-alcaldia{
		max-width: 70%;
		float: right;
	}
}
@media only screen and (min-width: 992px){
	.site-header{
		position: relative;
	}
	.site-title{
		margin-top: 15px;
	}
	.ctn_logo{
		z-index: 50;
    	position: relative;
	}
	.logo{
		max-height: 135px;
	}
	.ctn_logos-alcaldia{
		a{
			margin-top: 3%;
			img{
				max-width: 15%;
			}
		}
	}
	.logos-alcaldia{
		max-width: 60%;
	}
}

.obra-header {
    display: block;
	background-size: cover;
    width: 100%;
	min-height: 250px;
	text-align: left;
	margin-top: -28px;
	z-index: -1;
	background-position: top center;
	div.container {
		position: relative;
		height: 250px;
	}
	h2 {
		width: auto;
		max-width: 80%;
		background-color: #fff;
		color: $color__primary;
		text-align: center;
		opacity: 0.94;
		border-radius: 10px 10px 0px 0px;
		display: inline-block;
		padding: 10px 10px;
		position: absolute;
		margin: 0px;
		bottom: 0px;
		left: 0;
	}
}
@media only screen and (min-width: 1200px) {
	.ctn_logos-alcaldia{
		a{
			margin-top: 3%;
			img{
				max-width: 12%;
			}
		}
	}
}