.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

//-------------Estilos del post

.post__title{
	margin-bottom: 0px;
	color: $color__gray-dark;
}

//Fecha del artículo

.post__entry-date{
	color: $color__primary;
}

//-------------Estilos de las obras
article.type-obra {
	header {
		h1 {
			font-size: 1.7em;
			font-weight: 400;
			border-bottom: 1px solid #ccc;
			color: $color__gray-dark;
		}
		h1::before {
			content: "";
			width: 74px;
			height: 37px;
			position: absolute;
			top: 4px;
			right: 15px;
			background: url(img/edificios-line.png) no-repeat;
		}
	}
}

#obra-map {
	position: static;
	background-color: $color__background-pre;
	padding: 10px;
	span.solucion {
		display: inline-block;
		width: 100%;
		text-align: center;
		padding: 10px;
	}
}

#obra-detalle {
	position: static;
	width: 135px;
	div.obra-imagen {
		display: inline-block;
		height: 70px;
		width: 135px;
		background-position: center;
		background-size: cover;
	}
	span {
		display: inline-block;
		width: 100%;
		text-align: center;
	}
	span.obra-estado {
		color: $color__primary;
	}
	hr.linea {
		height: 1px;
		background-color: $color__background-hr;
		margin: 0px;
		padding: 0px;
	}
	div.obra-avance {
		width: 100%;
		height: 18px;
		background-color: $color__background-hr;
		position: relative;
		span {
			position: absolute;
			display: inline-block;
			height: 18px;
			color: #FFF;
		}
		span.texto {
			z-index: 1;
		}
		span.porcentaje {
			background-color: $color__primary;
			content: "";
		}
	}
}

#obra-filtro-tipo {
	display: inline-block;
	float: left;
	width: 50%;
	height: 35px;
	text-align: center;
	background-color: $color__background-hr;
	margin-bottom: 25px;
	> span {
		position: relative;
		display: inline-block;
		width: 100%;
		text-decoration: none;
		color: #828282;
		padding: 5px 0px 5px 0px;
		height: 35px;
		&:hover, &.active {
			background-color: $color__primary;
			color: #fff;
			span {
				position: absolute;
				width: 0; 
				height: 0; 
				border-left: 10px solid transparent;
				border-right: 10px solid transparent;
				border-top: 10px solid $color__primary;
				margin-top: 30px;
				left: 47.5%;
			}
		}
	}
}

#obra-listado, #obra-mapas {
	.filtros {
		min-height: 117px;
		text-align: center;
		&:nth-child(3) {
			border-right: 0px solid #fff;
		}
		span:first-child {
			display: inline-block;
			background-color: transparent;
			width: 100%;
			border-radius: 0px;
			color: #000;
			font-size: 16px;
			&:hover {
				background-color: transparent;
			}
		}
		span {
			display: inline-block;
			background-color: $color__background-obra-menu;
			height: 100%;
			border-radius: 5px;
			color: #fff;
			font-size: 14px;
			&:nth-child(2), &:nth-child(3)
			{
				margin-top: 25px;
			}
			&:nth-child(4), &:nth-child(5)
			{
				margin-top: 10px;
				margin-bottom: 10px;
			}
			&:hover {
				background-color: $color__obra-menu-hover;
			}
			&:active {
				background-color: $color__primary;
			}
		}
	}
	.obras {
		background-color: $color__background-pre;
		padding: 10px;
		margin-top: 15px;
	}
}

.sidebar {
	border-top: 1px solid $color__background-pre;
	padding-top: 5px;
	margin-bottom: 15px;
}

#obra-estado {
    text-transform: uppercase;
    text-align: center;
	color: $color__primary;
	font-weight: 600;
	#obra-detalle {
		position: static;
		width: 100%;
		text-align: initial;
		padding-top: 5px;
		div.obra-avance {
			width: 100%;
			height: 23px;
			background-color: $color__background-pre;
			position: relative;
			span.texto {
				z-index: 1;
			}
			span.porcentaje {
				background-color: $color__primary;
				content: "";
				height: 23px;
			}
		}
	}
}

#obra-descripcion {
	span {
		font-weight: 600;
	}
}

.fm-label{
	padding: 5px 2px;
	cursor: pointer;
	margin-top: 10px !important;
	margin-bottom: 0px !important;
	width: 100%;
}
.fm-label-active{
	background: $color__primary !important;
}
.grid {
  background: #EEE;
  margin: 0 auto;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-sizer, .grid-item {
  width: 100%;
}
.grid-item {
  //float: left;
}
.ctn__obra-preview{
	background: #fff;
	margin: 0 10px 25px 0;
	display: block;
	overflow: auto;
	cursor: pointer;
	color: $color__gray-dark;
	height: auto;
	float: left;
	&:hover{
		text-decoration: none;
		color: $color__gray-dark;
		.ctn__obra-preview_image{
			background-size: 130% !important;
		}
	}
}
.ctn__obra-preview_image{
	background-size: 100%; 
	transition: all ease 1s;
	background-position: center center;
	&:before{
		content: "";
		padding-top: 100%;
		display: block;
	}
}
.ctn__obra-preview_contenido{
	padding: 10px;
	h3{
		margin: 10px 0;
		font-size: 1.2rem;
		text-align: center;
		color: $color__gray-dark;
	}
	hr{
		height: 1px;
		margin: 5px 0;
	}
}
.obra-preview_estado{
	color: $color__primary;
	text-transform: uppercase;
	font-size: 0.9rem;
	text-align: center;
	display: block;
	font-weight: 500;
	margin-top: 10px;
}
.obra-avance{
	background: #eee;
	position: relative;
}
.obra-avance_texto{
	display: block;
	position: absolute;
	margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: #000000;
}
.obra-avance_porcentaje{
	display: block;
	background: $color__primary;
	height: 25px;
}

.entry-content {
	p {
		color: $color__gray-dark;
		text-align: left;
	}
}

//Estilos del template Avance del proyecto

.ctn__recaudo_texto{
	background: $color__primary;
	padding: 20px;
	position: relative;
	&:before{
		@include triangulos($color__primary, 30px)
	}
}
p.recaudo-texto{
	color: #fff;
	margin: 0;
	font-size: 1.3rem;
	text-align: center;
	line-height: 2rem;
}
.ctn__recaudo_total{
	@include bg-degrade;
	padding: 25px;
	text-align: center;
}
p.recaudo-total-texto{
	font-size: 1rem;
	text-align: center;
	margin: 0 0 10px 0;
}
.recaudo-total-numero{
	font-size: 1.5rem;
	color: $color__primary;
	font-weight: 700;
}
.ctn__info-recaudo, .ctn__recaudo{
	margin-bottom: 30px;
}
.ctn__info-recaudo_propietarios{
	@include borde-degrade();
}
.info-recaudo_propietarios_title{
	margin: 0;
	background: $color__gray-light;
	text-align: center;
	padding: 10px 5px;
	text-transform: uppercase;
	color: $color__primary;
	font-size: 1rem;
	font-weight: normal;
}
.info-recaudo_propietarios_total{
	color: $color__primary;
	font-size: 3rem;
	display: block;
	text-align: center;
	padding: 20px 10px;
}

/*----------- Estilos de la página incial de obras ---------------*/
.ctn__img-obras{
	figure{
		position: relative;
	}
	figcaption{
		position: absolute;
		bottom: 0;
		background: rgba(0,0,0,0.5);
		display: block;
		padding: 10px;
		width: 100%;
		color: #fff;
	}
}
.ctn__img-obras_controles{
	text-align: center;
	padding: 5px;
	.img-obras_controles{
		display: inlin-block;
		margin:0 10px;
		padding: 10px;
		background: $color__gray-light;
		&.active{
			background: $color__primary;
			color: #fff;
		}
	}
}

.img-obras_despues{
	display: none;
}


@media screen and (min-width: 768px){
	#obra-listado {
		.filtros {
			border-right: 0px solid #fff;
		}
	}
	.obras {
		padding: 0px 0px 15px 0px;
	}
	.info-recaudo_propietarios_total{
		font-size: 2rem;
	}
	.grid-sizer, .grid-item{
		width: 48.2%;
	}
	.fm-label{
		width: 46%;
	}
}

@media screen and (min-width: 992px){
	article.type-obra {
		header {
			h1 {
				&::before {
					top: 22px;
				}
			}
		}
	}


	.no-margin{
		margin-left: -30px;
	}
	.ctn__recaudo_texto{
		padding: 40px 30px;
		font-size: 1.8rem;
		line-height: 2.5rem;
		width: 108%;
		&:before{
			content: "";
			width: 0;
		    height: 0;
		    border-bottom: 30px solid $color__primary; 
		    border-right: 30px solid transparent;	
		    border-top: none;
			position: absolute;
			bottom: 0px;
			right: -30px;
			z-index: 2;
			left: inherit;
		}
	}
	p.recaudo-texto{
		font-size: 1.5rem;
	}
	.ctn__recaudo_total{
		padding: 23px;
	}
	p.recaudo-total-texto{
		font-size: 1.5rem;
	}
	.recaudo-total-numero{
		font-size: 2rem;
	}
	.grid-sizer, .grid-item{
		width: 31.7%;
	}
}
@media screen and (min-width: 1200px){
	.ctn__recaudo_texto {
    	padding: 47px 30px;
    	width: 107%;
    }
    p.recaudo-texto {
	    font-size: 2rem;
	    line-height: 2.5rem;
	}
	p.recaudo-total-texto {
	    font-size: 1.8rem;
	}
	.recaudo-total-numero {
	    font-size: 3rem;
	}
}