// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

//Sombra para las cajas
@mixin sombra-cajas($opacity){
	-webkit-box-shadow: 0px 0px 12px 0px rgba(50, 50, 50, $opacity);
	-moz-box-shadow:    0px 0px 12px 0px rgba(50, 50, 50, $opacity);
	box-shadow:         0px 0px 12px 0px rgba(50, 50, 50, $opacity);
}

//Bordes degradados
@mixin borde-degrade(){
	border-width: 1px;
    border-style: solid;
    -webkit-border-image: 
      -webkit-gradient(linear, 0 0, 0 100%, from($color__primary), to(rgba(0, 0, 0, 0))) 1 1%;
    -webkit-border-image: 
      -webkit-linear-gradient($color__primary, rgba(0, 0, 0, 0)) 1 1%;
    -moz-border-image:
      -moz-linear-gradient($color__primary, rgba(0, 0, 0, 0)) 1 1%;    
    -o-border-image:
      -o-linear-gradient($color__primary, rgba(0, 0, 0, 0)) 1 1%;
    border-image:
      linear-gradient(to bottom, $color__primary, rgba(0, 0, 0, 0)) 1 1%;
}

// Fondo degradado radial de gris a blanco
@mixin bg-degrade(){
	background: #ffffff;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZWRlZGVkIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, $color__gray-light 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(100%,$color__gray-light));
	background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%,$color__gray-light 100%);
	background: -o-radial-gradient(center, ellipse cover, #ffffff 0%,$color__gray-light 100%);
	background: -ms-radial-gradient(center, ellipse cover, #ffffff 0%,$color__gray-light 100%);
	background: radial-gradient(ellipse at center, #ffffff 0%,$color__gray-light 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='$color__gray-light',GradientType=1 );
}

//Triangulos 

@mixin triangulos($color, $tamano){
	content: "";
	width: 0;
	height: 0;
	border-top: $tamano solid $color; 
	border-right: $tamano solid transparent;	
	position: absolute;
	bottom: -$tamano;
	left: 0;
}

//Iconos fonvalmed
@mixin iconos-fvm($icono, $ff, $color){
	content: $icono;
	font-family: "fonvalmed" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: $ff;
	color: $color;
}