button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-radius: 3px;
	background: $color__background-button;
	color: #fff;
	@include font-size(0.75);
	line-height: 1;
	padding: .8em 1em .8em;
	transition: background 0.5s;
	
	&:hover {
		background: darken($color__primary, 8%)
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
		box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
	}
}