input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: $color__text-input;
	border: 1px solid $color__border-input;
	border-radius: 3px;

	&:focus {
		color: $color__text-input-focus;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 5px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}

.search-form{
	label{
		margin: 0;
	}
	input{
		font-weight: 100;
	}
	.ctn_search-field{
		position: relative;
		label{
			width: 100%;
		}
	}
	.search-field{
		padding-right: 25px;
		width: 100%;
	}
	.search-submit{
		margin-left: -45px;
	    background: none;
	    border: none;
	    font-family: "fonvalmed" !important;
		content: "k";
		font-style: normal !important;
		font-weight: normal !important;
		font-variant: normal !important;
		text-transform: none !important;
		speak: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		color: $color__gray;
		font-size: 1rem;
		transition: all 0.5s ease;
		position: absolute;
		right: -7px;
		top: -4px;
		&:hover{
			background: none;
			color: $color__gray-dark;
		}
	}
}